@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f5f8;
  line-height: 1.5;
  font-size: larger;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 3px;
  text-transform: capitalize;
  line-height: 1.05;
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
}

main {
  display: grid;
  place-items: center;
}

/*
=============== 
Nav
===============
*/
nav {
  background-color: #fff;
  height: 50px;
  display: grid;
  align-items: center;
  box-shadow: 0 5px 15px gray;
  margin-bottom: 50px;
}

.nav-center {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.nav-center h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 50px;
  color: mediumturquoise;
}

.nav-links {
  display: flex;
  margin-right: 10px;
}

nav a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18px;
  color: black;
  letter-spacing: 3px;
  margin-right: 50px;
}

nav a:hover {
  color: dimgray;
}

/*
=============== 
Container
===============
*/
main{
    display: grid;
    place-items: center;
}
.container{
    text-align: center;
    justify-content: center;
    margin-top: 10%;
}
.container h2{
    background-color: black;
    color: white;
    padding: 18px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.color{
    color: mediumturquoise;
}
.btn-hero{
    text-transform: capitalize;
    background: transparent;
    color: black;
    letter-spacing: 3px;
    display: inline-block;
    font-weight: 70;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 1px 3px gray;
    border-radius: 8px;
    font-size: 15px;
    padding: 10px 15px;
    transition: background 1s;
}
.btn-hero:hover{
    color: white;
    background: black;

}
